@{
    var RoleId = 0;
    if (User.Identity.IsAuthenticated)
    {
        RoleId = Convert.ToInt32(User.FindFirst("RoleId").Value);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartDoc</title>
    <style>
        .modal.drawer {
            display: flex !important;
            pointer-events: none;
        }

            .modal.drawer * {
                pointer-events: none;
            }

            .modal.drawer .modal-dialog {
                margin: 0px;
                display: flex;
                flex: auto;
                transform: translate(25%, 0);
            }

                .modal.drawer .modal-dialog .modal-content {
                    border: none;
                    border-radius: 0px;
                }

                    .modal.drawer .modal-dialog .modal-content .modal-body {
                        overflow: auto;
                    }

            .modal.drawer.show {
                pointer-events: auto;
            }

                .modal.drawer.show * {
                    pointer-events: auto;
                }

                .modal.drawer.show .modal-dialog {
                    transform: translate(0, 0);
                }

            .modal.drawer.right-align {
                flex-direction: row-reverse;
                padding: 0 !important;
            }

            .modal.drawer.left-align:not(.show) .modal-dialog {
                transform: translate(-25%, 0);
            }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-loader/3.3.3/css-loader.css" />
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.13.18/jquery.timepicker.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.13.18/jquery.timepicker.min.js"></script>
    <script src="~/js/datepair.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SmartDoc</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            @if (RoleId == 3)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" onclick="bindsidepartial('/Appoinment/CreateAppoinment', 350)">New Appointment</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" onclick="bindsidepartial('/Account/LoginPartial', 350)">Login</a>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link text-dark" onclick="bindsidepartial('/Account/Register', 350)">Register</a>
                                </li>*@
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div id="sdoc-loader" class="loader loader-default"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal fade drawer right-align" id="webAppPatial" tabindex="-1" role="dialog" aria-labelledby="webAppPatial" aria-hidden="true">
        <div class="modal-dialog" id="partialContent">
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SmartDoc
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('table').DataTable();
            $('select').selectpicker();
            $('.date-picker').datepicker({
                format: 'dd M yyyy',
            });
            $('.time-picker').timepicker({
                'timeFormat': 'h:i A'
            });
        });
    </script>
</body>
</html>
